{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block style %}{% endblock style %}

{% block script %}{% endblock script %}

{% block body %}
    <center>
        <h2>Welcome to CodesOnBytes!</h2><br>
        <big>
            This project is based on Data Science and consists of two Phases, each containing two tasks.<br>
            Use the navigation bar above to explore various tasks.<br>
        </big><br>
        <a class="btn btn-primary" href="phase1_task1">Get Started</a>
    </center>
{% endblock body %}